@import url(http://awebfont.ir/css?id=1116);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "B Yekan", tahoma, Arial;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* header */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style: none;
    padding-right: 50px;
}

.menu-item {
    margin: 0 20px;
    color: #999;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .header-register {
    color: rgb(52, 170, 243);
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.header-left .header-login {
    color: #fff;
    background-color: rgb(3, 114, 184);
    padding: 5px 17px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}



.header-bottom {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.header-bottom-right {
    width: 40%;
    padding-right: 80px;
}

.header-bottom-right h1 {
    color: rgb(3, 114, 184);
}

.header-bottom-right h4 {
    color: rgb(6, 140, 224);
    margin: 10px 0;
}

.header-bottom-right p {
    text-align: justify;
    font-size: 17px;
    color: #605f5f;
}

.header-bottom-left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-left img {
    width: 80%;
}





/* host section */
.boxes-title {
    text-align: center;
    margin-top: 70px;
}

.parent-boxes {
    height: 600px;
    background: linear-gradient(to bottom, #F3FAFF, #E0F2FF);
    display: flex;
    margin: 30px 0;
}

.child-boxes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 400px;
    margin: 100px 20px;
    border-radius: 15px;
    border: 2px dotted #999;
}

.child-boxes h2 {
    position: absolute;
    background-color: rgb(6, 140, 224);
    color: #fff;
    padding: 5px 25px;
    border-radius: 25px;
    top: -25px;
}

.child-boxes p {
    padding: 35px 20px;
    text-align: justify;
}





/* host feature */
.host-feature {
    margin: 100px 0;
}

.feature {
    display: flex;
    margin-top: 170px;
}

.feature-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.feature-right h1 {
    color: rgb(3, 114, 184);
    margin: 10px 0;
}

.feature-right p {
    text-align: justify;
    font-size: 17px;
    color: #605f5f;
}

.feature-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-left img {
    width: 75%;
}